<%- include('../partials/header') %>
    <table>
        <thead>
            <tr>
                <th>Text</th>
                <th>Creater At</th>
                <th>Author</th>
                <th>Bio</th>
                <th>Hashtag</th>
                <th>Emotion</th>
            </tr>
        </thead>
        <tbody>
            <% tweets.forEach(function(t) { %>
                <tr>
                    <td>
                        <form action="/tweets/<%= t.id %>?_method=DELETE" class="delete-form" method="POST">
                            <button type="submit">X</button>
                        </form>
                    </td>
                    <td>
                        <%= t.tweet %>
                    </td>
                    <td>
                        <%= t.createdAt %>
                    </td>
                    <td>
                        <%= t.author %>
                    </td>
                    <td>
                        <%= t.bio%>
                    </td>
                    <td>
                        <%= t.hashtag%>
                    </td>
                    <td>
                        <%= t.emotion%>
                    </td>
                    <td><a href="/tweets/<%= t._id %>">Details</a></td>
                </tr>
                <% }); %>
        </tbody>
    </table>

    <form action="/tweets/?_method=DELETE" class="delete-form" method="POST">
        <button type="submit">DELETE ALL TWEETS</button>
    </form>
    <%- include('../partials/footer') %>