<%- include('../partials/header') %>
    <section id="show-page" class="p-3 mb-2 bg-info text-dark">
        <div>Tweet: </div>
        <div>
            <%= tweet.text %>
        </div>
        <div>Time posted: </div>
        <div>
            <%= tweet.createdAt %>
        </div>
        <div>Username: </div>
        <div>
            <%= tweet.author %>
        </div>
        <div>User Bio: </div>
        <div>
            <%= tweet.bio %>
        </div>
        <div>Hashtag: </div>
        <div>
            <%= tweet.hashtag %>
        </div>
        <div>Emotion: </div>
        <div>
            <%= tweet.emotion %>
        </div>
    </section><br><br>

    <a href="/tweets/<%= tweet.id %>/edit" class="btn btn-info">Edit Tweet</a><br><br><br><br>


    <% if (tweet.reviews.length) { %>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Review</th>
                    <th>Intensity</th>
                </tr>
            </thead>
            <tbody>
                <% tweet.reviews.forEach(function(r) { %>
                    <tr>
                        <td>
                            <%= r.content %>
                        </td>
                        <td>
                            <%= r.intensity %>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
        <% } else { %>
            <h5>No Comments Yet</h5>
            <% } %><br><br><br><br>


                <h2>Comments</h2>
                <form id="add-review-form" method="POST" action="/tweets/<%= tweet._id %>/reviews"
                    class="p-3 mb-2 bg-light text-dark">
                    <label>Comment:</label>
                    <textarea name="content" class="form-control"></textarea><br>
                    <label>Intensity:</label>
                    <select name="intensity" multiple class="form-control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select><br><br>
                    <input type="submit" value="Add Review" class="btn btn-info">
                </form>


                <%- include('../partials/footer') %>